
<div class="container mt-2">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block img-flui" src="../../../assets/presentacion.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Centro internacional de entrenamiento de reanimación cardiopulmonar</h5>
            <p>CE - RCP</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-flui" src="../../../assets/imagen de ce-rcp.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-blockv img-flui" src="../../../assets/sitioAhatrans.png" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>

<section class="main container mt-3">
    <div class="row">
        <section class="posts col-md-9">
            <article class="post clearfix">
                <a href="#" class="thumb pull-left">
                    <img class="img-thumbnail" src="../../../assets/ce-rcp-trans.png" alt="">
                </a>
                <h2 class="post-title">
                    <a href="#">Centro de entrenamiento en reanimación cardiopulmonar</a>
                </h2>
                <p><span class="post-fecha">14 de agosto 2018</span> por <span class="post-autor"><a href="#">Carlos Villota</a></span></p>
                <p class="post-contenido text-justify">
                    CE-RCP es un Centro Internacional de Entrenamiento cuya finalidad es aportar conocimientos en el área de la educación
                     con docentes que suman más de 12 años de experiencia en el sector educativo universitario de las diferentes áreas de 
                     la salud y la simulación clínica. 

                    Ofertamos calidad en los programas y cursos con metodología práctica que permite a los estudiantes adquirir las 
                    competencias requeridas en el desarrollo de su ámbito profesional, todo esto apoyado con equipos de última tecnología
                     en simulación de pacientes logrando escenarios realistas para el desarrollo de las prácticas.
                </p>
  
                <div class="contenedor-botones">
                    <a href="#" class="btn btn-danger">Leer más</a>
                    <a href="#" class="btn btn-success ml-1">Comentarios <span class="badge">20</span></a>
                </div>
  
            </article>

            <article class="post clearfix">
                <a href="#" class="thumb pull-left">
                    <img class="img-thumbnail" src="../../../assets/mision.jpg" alt="">
                </a>
                <h2 class="post-title">
                    <a href="#">LA MISIÓN</a>
                </h2>
                <p><span class="post-fecha">14 de agosto 2018</span> por <span class="post-autor"><a href="#">Carlos Villota</a></span></p>
                <p class="post-contenido text-justify">
                    Proveer servicios educativos de actualización, complemento, perfeccionamiento, renovación o profundización de 
                    conocimientos necesarios para el desempeño en el campo laboral y el mejoramiento de la prevención de la enfermedad,
                     cuidado de pacientes hospitalarios y pre-hospitalarios e intervenciones clínicas oportunas que marquen la diferencia 
                     en salvar vidas.
                </p>

                <div class="contenedor-botones">
                    <a href="#" class="btn btn-danger">Leer más</a>
                    <a href="#" class="btn btn-success ml-1">Comentarios <span class="badge">20</span></a>
                </div>

            </article>

            <article class="post clearfix">
                <a href="#" class="thumb pull-left">
                    <img class="img-thumbnail" src="../../../assets/vision.jpg" alt="">
                </a>
                <h2 class="post-title">
                    <a href="#">LA VISIÓN</a>
                </h2>
                <p><span class="post-fecha">14 de agosto 2018</span> por <span class="post-autor"><a href="#">Carlos Villota</a></span></p>
                <p class="post-contenido text-justify">
                    Al 2020 ser el Centro Internacional de Entrenamiento mas importante del sur occidente colombiano, implementando 
                    actualizaciones científicas y aplicando educación de calidad con metodologías y equipos que se 
                    adapten a las las ultimas tendencias encaminadas en mejorar la salud de los pacientes
                </p>

                <div class="contenedor-botones">
                    <a href="#" class="btn btn-danger">Leer más</a>
                    <a href="#" class="btn btn-success ml-1">Comentarios <span class="badge">20</span></a>
                </div>

            </article>
        </section>

        <aside class="col-md-3 hidden-xs hidden-sm">
            <h4>Categorias</h4>
            <div class="list-group">
                <a href="#" class="list-group-item color1 active">Cursos y diplomados</a>
                <a href="#" class="list-group-item jumbotron">Soporte Vital Básico (BLS/SVB</a>
                <a href="#" class="list-group-item jumbotron">Soporte cardiovascular avanzado</a>
                <a href="#" class="list-group-item jumbotron">Primeros Auxilios</a>
                <a href="#" class="list-group-item jumbotron">Diplomado en atención de urgencias</a>
                <a href="#" class="list-group-item jumbotron">Manejo de medicamentos y farmacología</a>
                <a href="#" class="list-group-item jumbotron">Seguridad del paciente</a>
                <a href="#" class="list-group-item jumbotron">Atención Pre-hospilaria</a>
            </div>

            <h4>Artículo recientes</h4>
            <a href="#" class="list-group-item jumbotron">
                <h4 class="" list-group-item-heiding>SOPORTE VITAL BÁSICO</h4>
                <p class="list-group-item-text">El curso de Soporte Vital Básico (BLS), esta dirigido a los profesionales, 
                  tecnologos y técnicos de la salud que requieran adquirir entrenamiento para lograr una respuesta eficaz 
                  ante una situación de paro cardio-respiratorio. Click para leer más
                  Metodología teórico - practica. (PRESENCIAL)</p>
            </a>

            <a href="#" class="list-group-item jumbotron">
                <h4 class="" list-group-item-heiding>SOPORTE CARDIOVASCULAR AVANZADO</h4>
                <p class="list-group-item-text">El curso Soporte Vital Avanzado (ACLS), esta dirigido a los profesionales 
                  de las diferentes áreas de la salud que requieran profundizar sus conocimientos frente a la valoración 
                  inicial de Soporte Vital Básico y Soporte Vital Avanzado. Click para leer más
                    Metodología teórico - practica. (PRESENCIAL)</p>
            </a>

            <a href="#" class="list-group-item jumbotron">
                <h4 class="" list-group-item-heiding>La seguridad del paciente</h4>
                <p class="list-group-item-text">Lineamientos que nos lleven a la atención del paciente con seguridad
                    Click para leer más
                </p>
            </a>
        </aside>
  
    </div>
  </section>   
  <footer>
      <div class="container">
          <div class="col-xm-6">
              <p>Política de Privacidad y uso de Información de Datos Personales</p>
              <p> © Copyright 2018 - CENTRO DE ENTRENAMIENTO INTERNACIONAL EN REANIMACIÓN CARDIOPULMONAR - Theme by ThemeWagon</p>

              <div class="col-xm-6">
                  <ul class="list-inline text-right">
                      <li><a href="#">Inicio</a></li>
                      <li><a href="#">Artículos</a></li>
                      <li><a href="#">Contacto</a></li>
                  </ul>
              </div>

          </div>
      </div>
  </footer>