<div class="container mt-5">
  <div class="row">
      <div class="col-sm-2 mt-4">
          <img src="../../../assets/Imagen1Trans.png" alt="" width="100" height="100">
      </div> 
      <div class="col-sm-6">
            <div>
                <h1><strong>CENTRO DE ENTRENAMIENTO</strong> <small> En reanimación Cardiopulmonar</small></h1>
            </div>
          <div class="mydescription">
              <p>Certificación Internacional - AHA</p>
          </div>
      </div>
  </div>
  
  <div class="row">

      <div class="col-sm-8 col-sm-offset-3 myform-cont">
          
          <div class="myform-top">
              <div class="myform-top-left">
                  
              </div>
              <div class="myform-top-left">
                  <h3>Ingreso al sistema</h3>
                  <p>Digite su correo electrónico y contraseña</p>
              </div>
              <div class="myform-top-right">
                  <i class="fa fa-key"></i>
              </div>
          </div>
         
          
          <div class="myform-button">
              
              <form [formGroup] = "loginForm" (ngSubmit) = "onSubmit();">
                 <div class="form-group">
                     
                    <label class="input-group-addon" for="email"></label>
                    <i class="fa fa-user check"></i>&nbsp;
                    <i 
                        class="fa fa-check-circle check"
                        *ngIf="loginForm.controls.email.valid"
                    >
                    </i>

                    <i 
                        class = "fa fa-exclamation-circle uncheck"
                        *ngIf="loginForm.controls.email.invalid &&
                        loginForm.controls.email.touched"
                    >
                    </i>
                    
                    <input 
                        type="text" 
                        id="email" 
                        formControlName = "email"
                        placeholder="correo eletrónico" 
                        class="form-control"
                    >
                        
                    <label class="input-group-addon" for="password"></label>
                    <i class="fa fa-lock check"></i>&nbsp;
                          
                    <i 
                        class="fa fa-check-circle check"
                        *ngIf="loginForm.controls.password.valid"
                    >
                    </i>

                    <i 
                        class = "fa fa-exclamation-circle uncheck"
                        *ngIf="loginForm.controls.password.invalid &&
                        loginForm.controls.password.touched"
                    >
                    </i>

                    <input 
                        type="password" 
                        id="password" 
                        formControlName = "password"
                        placeholder="contraseña" 
                        class="form-control"
                    >
            </div>
                <button 
                    type="submit" 
                    class="mybtn"
                    [disabled] = '!loginForm.valid'
                >
                    Iniciar sesión
                </button>
                <p class="alert alert-danger" *ngIf="!loginForm.valid">
                    Por favor complete todos los campos
                </p>

              </form>
          </div>
                  
      </div>
  </div>
</div>