<div class="container mt-5">
  <div class="row">
      <div class="col-sm-2 mt-4">
          <img src="../../../assets/Imagen1Trans.png" alt="" width="100" height="100">
      </div> 
      <div class="col-sm-6">
            <div>
                <h1><strong>CENTRO DE ENTRENAMIENTO</strong> <small> En reanimación Cardiopulmonar</small></h1>
            </div>
          <div class="mydescription">
              <p>Certificación Internacional - AHA</p>
          </div>
      </div>
  </div>
  
  <div class="row">

      <div class="col-sm-8 col-sm-offset-3 myform-cont">
          
          <div class="myform-top">
              <div class="myform-top-left">
                  
              </div>
              <div class="myform-top-left">
                  <h3>Ingreso al sistema</h3>
                  <p>Digite su correo electrónico y contraseña</p>
              </div>
              <div class="myform-top-right">
                  <i class="fa fa-key"></i>
              </div>
          </div>
         
          
          <div class="myform-button">
              
              <form>
                 <div class="form-group">
                      <div class="input-group input-sm">
                          <label class="input-group-addon" for="usuario"> <i class="fa fa-user"></i> </label>
                          <input type="text" id="email" name="email" placeholder="correo eletrónico" class="form-control ml-5" required>
                      </div>
                  </div>
                  <div class="form-group mx-auto">
                      <div class="input-group input-sm">
                          <label class="input-group-addon" for="password"> <i class="fa fa-lock"></i> </label>
                          <input type="password" id="password" name="password" placeholder="contraseña" class="form-control ml-5" required>
                      </div>
                      <input type="hidden" name="$"   value="" />
                  </div>
                  <button type="submit" class="mybtn">Iniciar sesión</button>
              </form>
          </div>
                  
      </div>
  </div>
</div>