.col-centrada{
    margin: 0 auto; 
}

.fondoRojo{
    background-color: red;
}

.fondoVerde{
    background-color: green;
}

hr{
   
    border-color:  green;
}

.color{
    color: white;
}

.fontSize{
    font-size: 12px;
}